# distroless-<your-app/lib-name-here>


## Usage

```dockerfile
FROM golang:1.22.2-bookworm as build

WORKDIR $GOPATH/src/app/

COPY . .

RUN go mod download
RUN go mod verify

RUN CGO_ENABLED=0 GOOS=linux GOARCH=amd64 go build -o /app .

FROM pmoscode/static-stable-nondebug:dev

WORKDIR /app

COPY --from=build /app ./app

CMD ["./app"]
```

# Configuration

## Default

| property             | value             |
|----------------------|-------------------|
| default user / group | nonroot / nonroot |
| working dir          | /app              |
| arch                 | amd64 / arm64     |

## Additional

| property   | value |
|------------|-------|
| entrypoint |       |

## Used packages

- wolfi-base (for debug variant)
- wolfi-baselayout (for nondebug variant)
- 

## Image versioning

| name     | description                     | purpose                           |
|----------|---------------------------------|-----------------------------------|
| "dev"    | Triggered by push or manual run | current development version       |
| "nighly" | Triggered by scheduled run      | Always the latest libs (Wolfi OS) |
| semver   | Triggered by Git tag            | Fixed version (may be outdated)   |
